* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    background-color: #4682b4;
    line-height: 2;
}


/* class style */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    height: 70px;
}
.navbar .container{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    top: 0;
    position: fixed;
    right: 10px;
    background-color: #4682b4;
    border-radius: 10px;
}

.menu li{
    padding: 10px;
    list-style: none;

}
.menu li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.menu ul{
    position: fixed;
}
.menu a:hover{
    color: whitesmoke;
}

.body {
    display: flex;
    height: 800px;
}

.body .container{
    width: 70%;
}

.slider-container {
    background: linear-gradient(
      149deg,
      rgb(69, 131, 224) 25%,
      rgb(255, 145, 0) 35%,
      rgb(15, 63, 136) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
  }
  
  .slider {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
  }
  
  .slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 2%;
  }
  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 2%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
  }

  .profile{
      height: 30%;
  }

  .profile .isi{
      line-height: 1.5;
      text-align: justify;
  }

  .read-more-state {
    display: none;
  }
  .readmore-isi {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .read-more-state:checked ~ .isi .readmore-isi {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
    color: white;
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
    color: white;
  }
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
  }

 .footer{
     height: 30%;
 } 
.footer .container {
    display: flex;
}
.card {
    background-color: rgb(255, 145, 0);
    color: #fff;
    flex: 1;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 7px #000;
}
.card h2{
    text-align: center;
}
.card p{
    line-height: 0;
}

.card li{
    text-align: center;
    line-height: 1.5;
}



/* format style */
ul{
    list-style-type: none;
}

/*id style*/

#name{
    animation: blinker 1.5s linear infinite;
    color: rgb(7, 1, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pp{
    width: 30%;
    margin-right: 30px;
}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

  /*function*/

  @keyframes blinker {
    50% {
        opacity: 0;
        color: rgb(141, 137, 137);
    }
  }

@media screen and (max-width: 768px) {
    .body .container {
        flex-direction: column;
        padding: 20px;
    }
    .body{
        height: 100%;
        top: 1px;
    }

    .footer .container {
        flex-direction: column;
    }

    .slider {
        width: 100%;
        max-width: 800px;
        height: 400px;
        margin: 10px;
        text-align: center;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        top: 1px;
      }
    
      img {
        width: 100%;
        height: 100%;
    }

    #pp{
        margin-top: 20px;
    }


}

@media screen and (max-width: 390px) {
    .menu{
        display: flex;
        top: 0;
        position: fixed;
        right: 10px;
        background-color: #4682b4;
        border-radius: 10px;
        height: 50px;
    }
    
    .menu li{
        list-style: none;
        top: 2px;
        margin-top: 0;
    
    }

    .menu li a {
        font-size: 10px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    
    .logo h1{
        font-size: medium;
    }
    .body .container {
        flex-direction: column;
    }
    .body{
        height: 100%;
        top: 1px;
    }

    .footer .container {
        flex-direction: column;
    }

    .slider {
        width: 100%;
        max-width: 800px;
        height: 400px;
        margin: 10px;
        text-align: center;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        top: 1px;
      }
    
      img {
        width: 100%;
        height: 100%;
    }

    #pp{
        margin-top: 20px;
    }
}
